@import "seattletimes";

body {
  max-width: 960px;
  margin: auto;
}

.inner {
  margin: 40px 0;
}

.container {
  position: relative;
  padding-bottom: 75%;
}

.count-container {
  font-family: @df-sans;
  font-size: 24px;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}

.grid {
  margin: 20px 0;
  margin-top: 10px;
}

.tile-container {
  display: inline-block;
}

.tile {
  cursor: pointer;
  background: @df-light-gray;
  // background: #F0E5D5;
  display: inline-block;
  font-family: @df-sans;
  font-size: 14px;
  padding: 4px 8px 2px 8px;
  border-radius: 2px;
  margin-bottom: 6px;
  margin-right: 2px;
  border: 1px solid #999;

  @media @mobile {
    margin-bottom: 4px;
    padding: 5px 8px 4px 8px;
    font-size: 11px;
    margin-right: 2px;
    margin-bottom: 5px;
  }
}

svg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  text {
    font-family: @df-sans !important;
    letter-spacing: 0.04em;
    font-weight: bold;
  }
}

g {
  cursor: pointer;

  .submitted & {
    cursor: default;
  }
}

.electoral-label {
  font-weight: bold;
  font-family: @df-sans;
  margin-top: 10px;
}

.electoral-count, .electoral-label {
  @media @mobile {
    display: none;
  }
}

.red {
  fill: #d04549 !important;

  polygon, path, circle {
    fill: #d04549 !important;
  }
  .tile {
    background: lighten(#d04549, 25%);
  }
}
.blue {
  fill: #65addc !important;

  polygon, path, circle {
    fill: #65addc !important;
  }
  .tile {
    background: lighten(#65addc, 25%);
  }
}
.yellow {
  fill: #f4d26b !important;

  polygon, path, circle {
    fill: #f4d26b !important;
  }
  .tile {
    background: lighten(#f4d26b, 15%);
  }
}

form {
  display: inline-block;
  div {
    display: inline-block;
    font-family: @df-sans;
    font-size: 14px;

    input {
      margin: 0 12px 0 4px;
    }
  }
}

.message {
  display: none;
  font-size: 14px;
  font-family: @df-sans;

  &.visible {
    display: inline-block;
  }
}

button {
  padding: 8px 14px;
  border: none;
  background: @df-dark-gray;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  color: white;
  opacity: 0.5;
  transition: all 0.3s linear;
  display: inline-block;
  margin-right: 8px;

  &.validated {
    opacity: 1;
    cursor: pointer;
    background: @df-charcoal;

    &:hover {
      background: black;
    }
  }
}